
@{
    ViewBag.Title = "Index";
}

<h2>Afisare articole</h2>

@foreach (var article in ViewBag.Articles)
{
    <h2>@article.Title</h2>
    <p>@article.Content</p>
    <p>@article.Date</p>
    <p>@article.Category.CategoryName</p>
    <a href="/Articles/Show/@article.Id">Afisare articol</a>
    <br />
    <hr />
    <br />
}
<a href="/Categories/Index/">Afisare lista categorii</a>
<br />
<a href="/Articles/New">Adauga articol</a>
<br />


