
@{
    ViewBag.Title = "Adaugare comanda";
}



<h2>Adaugare comanda</h2>

<form method="post" action="/Orders/New">

    <label>data comanda</label>
    <br />
    <input type="text" name="OrderDate" />
    <br /><br />


    <label>detalii comanda</label>
    <br />
    <input type="text" name="OrderDetails" />
    <br /><br />


   




    <button class="btn btn-success" type="submit">Adauga comanda</button>
</form>

