
@{
    ViewBag.Title = "Afisare comanda";
}

<h2>@ViewBag.Title</h2>

<p>@ViewBag.Order.OrderDate</p>
<p>@ViewBag.Order.OrderDetails</p>



<form method="post" action="/Orders/Delete/@ViewBag.Order.OrderId">

    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <button class="btn btn-success" type="submit">Sterge comanda</button>

</form>
<br />
<a class="btn btn-success" href="/Orders/Index/">Afisare lista comenzi</a>

<br />

<hr />
<br />

